<!--
  Generated template for the TicketDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar hideBackButton *ngIf="cross==true">
    <ion-title>Tickets #{{ticketNo}}</ion-title>
    <ion-buttons right>
      <button ion-button icon-only><ion-icon name="chatboxes"></ion-icon></button>
      <button ion-button icon-only><ion-icon name="call"></ion-icon></button>
    </ion-buttons>
    <ion-buttons left>
        <button ion-button (click)="closeButton()">
            <ion-icon class="customIcon" name="close"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>

  <ion-navbar *ngIf="cross==false">
    <ion-title>Tickets #{{ticketNo}}</ion-title>
    <ion-buttons right>
      <button ion-button icon-only><ion-icon name="chatboxes"></ion-icon></button>
      <button ion-button icon-only><ion-icon name="call"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>

  <div class="ticket-detail-head app-color">
    Remote Ticket<br />Not Started
  </div>
  <ion-toolbar class="cutom-tool" no-border-top>
    <ion-segment [(ngModel)]="segment" (ionChange)="tabChangeDetect()">
      <ion-segment-button value="overview" activated>
        OVERVIEW
      </ion-segment-button>
      <ion-segment-button value="date">
        DATE & TIME
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>



<ion-content padding>
  <div [ngSwitch]="segment">
    <div *ngSwitchCase="'overview'">
      <ion-item-group>
          <div *ngIf="status=='Assigned'" ion-item class="status-class app-color-secondary">
            <ion-avatar item-start>
              <img [src]=userDp>
            </ion-avatar>
            <h1>{{name}}</h1>
            <p>
              <ion-icon name="heart"></ion-icon>
              <ion-icon name="heart"></ion-icon>
              <ion-icon name="heart"></ion-icon>
              <ion-icon name="heart"></ion-icon>
              <ion-icon name="heart"></ion-icon>
            </p>
          </div>
            <div *ngIf="status=='Pending'" ion-item class="status-class">
              <ion-avatar item-start>
              <img [src]=refreshDP>
            </ion-avatar>
            <h1>{{status}}</h1>
            </div>
      </ion-item-group>
      <ion-grid>
        <ion-row>
          <ion-col>
            <h5>Remote / Network / Sub-category <ion-icon style="float: right;padding-top: 3px;" name="create" item-end></ion-icon></h5>
            <p *ngIf="description==undefined">We are having some issues in-house email server setup, and need somebody to swing by and have a qualified peek at it.</p>
            <p *ngIf="description!=undefined">{{description}}</p>

            <button *ngIf="persona == 'customer'" ion-button block (click)="cancelClicked()" class="custom-btn">CANCEL TICKET</button>

        <div class = "row" *ngIf="persona == 'tech_owner'">
          <div col-6>
            <button ion-button block class="custom-btn">ENROUTE</button>
          </div>

          <div col-6>
            <button ion-button block (click)="cancelClicked()" class="custom-btn">CANCEL</button>
          </div>
        </div>

          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div *ngSwitchCase="'date'">
      <div *ngIf="cross==false">
        <ion-grid>
          <p><strong>WHEN</strong></p>
          <ion-row class="switch-class app-color-secondary">
          <div ion-item class="row-padding">
          <ion-icon item-start name="calendar" ></ion-icon>
          <ion-datetime displayFormat="DDDD, MMM. D, h:mm A" [(ngModel)]="myDate"></ion-datetime>
          </div>
        </ion-row>
        <ion-row style="margin-top: 20px;">
          <ion-col col-12 class="row-padding">
            <h5>Credentials <ion-icon style="float: right" name="create" item-end></ion-icon></h5>
            <p *ngIf="credentials==undefined">Relevant documentation will be provided on site.</p>
            <p *ngIf="credentials!=undefined">{{credentials}}</p>

            <button *ngIf="persona == 'customer'" ion-button block (click)="cancelClicked()" class="custom-btn">CANCEL TICKET</button>

        <div class = "row" *ngIf="persona == 'tech_owner'">
          <div col-6>
            <button ion-button block class="custom-btn">ENROUTE</button>
          </div>

          <div col-6>
            <button ion-button block (click)="cancelClicked()" class="custom-btn">CANCEL</button>
          </div>
        </div>

          </ion-col>
        </ion-row>
      </ion-grid>

      </div>
      <div *ngIf="cross==true">
         <p><strong>PREFERRED TIMES</strong></p>
      <ion-list>
        <ion-row class="switch-class">
          <div ion-item class="row-padding">
          <ion-icon item-start name="calendar" ></ion-icon>
          <ion-datetime displayFormat="DDDD, MMM. D, h:mm A" [(ngModel)]="myDate"></ion-datetime>
          </div>
        </ion-row>
        <ion-row class="switch-class">
          <div ion-item class="row-padding">
            <ion-icon item-start name="warning" ></ion-icon>
            <ion-label *ngIf="isToggled==true"> Urgent(High Priority)</ion-label>
            <ion-label *ngIf="isToggled==false"> Not Urgent(Low Priority)</ion-label>
            <ion-toggle color="energized" item-end  [(ngModel)]="isToggled" (ionChange)="NotUrgentRemote()"></ion-toggle>
          </div>
        </ion-row>
        <ion-row class="switch-class">
          <div ion-item class="row-padding">
            <ion-icon item-start name="refresh" ></ion-icon>
            <ion-label *ngIf="recurringValue==undefined"> Request Recurring</ion-label>
            <ion-label *ngIf="recurringValue!=undefined">{{recurringValue}}</ion-label>
            <ion-toggle color="energized" item-end [(ngModel)]="isToggledRecurring" (ionChange)="RequestRecurringRemote()"></ion-toggle>
          </div>
        </ion-row>

      </ion-list>
      </div>


    </div>

  </div>

</ion-content>
