page-credentials-add-ticket {

  .searchbar-clear-icon.button-md, .searchbar-clear-icon.button-ios{
    background-color: transparent;
  }

  .row-style {
    border-bottom: 1px solid;
    margin-bottom: 10px;
  }

}
