<!--
  Generated template for the SchedulesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Schedule</ion-title>
    <ion-buttons right>
      <button ion-button icon-only><ion-icon name="add"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>

  <!--<ng-template #modalContent let-close="close">-->
  <!--<div class="modal-header">-->
    <!--<h5 class="modal-title">Event action occurred</h5>-->
    <!--<button type="button" class="close" (click)="close()">-->
      <!--<span aria-hidden="true">&times;</span>-->
    <!--</button>-->
  <!--</div>-->
  <!--<div class="modal-body">-->
    <!--<div>-->
      <!--Action:-->
      <!--<pre>{{ modalData?.action }}</pre>-->
    <!--</div>-->
    <!--<div>-->
      <!--Event:-->
      <!--<pre>{{ modalData?.event | json }}</pre>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="modal-footer">-->
    <!--<button type="button" class="btn btn-outline-secondary" (click)="close()">OK</button>-->
  <!--</div>-->
<!--</ng-template>-->

<!--<div class="row text-center">-->
  <!--<div class="col-md-4">-->
    <!--<div class="btn-group">-->
      <!--<div-->
        <!--class="btn btn-primary"-->
        <!--mwlCalendarPreviousView-->
        <!--[view]="view"-->
        <!--[(viewDate)]="viewDate"-->
        <!--(viewDateChange)="activeDayIsOpen = false">-->
        <!--Previous-->
      <!--</div>-->
      <!--<div-->
        <!--class="btn btn-outline-secondary"-->
        <!--mwlCalendarToday-->
        <!--[(viewDate)]="viewDate">-->
        <!--Today-->
      <!--</div>-->
      <!--<div-->
        <!--class="btn btn-primary"-->
        <!--mwlCalendarNextView-->
        <!--[view]="view"-->
        <!--[(viewDate)]="viewDate"-->
        <!--(viewDateChange)="activeDayIsOpen = false">-->
        <!--Next-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="col-md-4">-->
    <!--<h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>-->
  <!--</div>-->
  <!--<div class="col-md-4">-->
    <!--<div class="btn-group">-->
      <!--<div-->
        <!--class="btn btn-primary"-->
        <!--(click)="view = 'month'"-->
        <!--[class.active]="view === 'month'">-->
        <!--Month-->
      <!--</div>-->
      <!--<div-->
        <!--class="btn btn-primary"-->
        <!--(click)="view = 'week'"-->
        <!--[class.active]="view === 'week'">-->
        <!--Week-->
      <!--</div>-->
      <!--<div-->
        <!--class="btn btn-primary"-->
        <!--(click)="view = 'day'"-->
        <!--[class.active]="view === 'day'">-->
        <!--Day-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<!--<br>-->
<!--<div [ngSwitch]="view">-->
  <!--<mwl-calendar-month-view-->
    <!--*ngSwitchCase="'month'"-->
    <!--[viewDate]="viewDate"-->
    <!--[refresh]="refresh"-->
    <!--[activeDayIsOpen]="activeDayIsOpen"-->
    <!--(dayClicked)="dayClicked($event.day)"-->
    <!--(eventClicked)="handleEvent('Clicked', $event.event)"-->
    <!--(click)="toggleClicked()"-->
    <!--(eventTimesChanged)="eventTimesChanged($event)">-->
  <!--</mwl-calendar-month-view>-->
  <!--<mwl-calendar-week-view-->
    <!--*ngSwitchCase="'week'"-->
    <!--[viewDate]="viewDate"-->
    <!--[refresh]="refresh"-->
    <!--(eventClicked)="handleEvent('Clicked', $event.event)"-->
    <!--(eventTimesChanged)="eventTimesChanged($event)"-->
    <!--(dayHeaderClicked)="toggleClicked()">-->

  <!--</mwl-calendar-week-view>-->
  <!--<mwl-calendar-day-view-->
    <!--*ngSwitchCase="'day'"-->
    <!--[viewDate]="viewDate"-->
    <!--[refresh]="refresh"-->
    <!--(eventClicked)="handleEvent('Clicked', $event.event)"-->
    <!--(eventTimesChanged)="eventTimesChanged($event)">-->
  <!--</mwl-calendar-day-view>-->
<!--</div>-->


  <div *ngIf="view=='month'" (click)="toggleClicked()">
    <mwl-calendar-month-view
    [viewDate]="viewDate"
    [refresh]="refresh"
    [activeDayIsOpen]="activeDayIsOpen">
  </mwl-calendar-month-view>
  </div>

  <div *ngIf="view=='week'" (click)="toggleClicked()">
     <mwl-calendar-week-view
    [viewDate]="viewDate"
    [refresh]="refresh">
  </mwl-calendar-week-view>
  </div>

    <!--<mwl-calendar-day-view-->
    <!--[viewDate]="viewDate"-->
    <!--[refresh]="refresh">-->
  <!--</mwl-calendar-day-view>-->

  <ion-row *ngFor="let schedule of schedules">
    <ion-col col-2>
      <p>{{schedule.time}} {{schedule.meridiem}}</p>
    </ion-col>

    <ion-col col-10>
         <ion-card>
    <ion-card-content>
       <div ion-item>
            <ion-icon item-end name="lock" ></ion-icon>
            <ion-label>Susan Mcdonalds</ion-label>
          </div>
       <div ion-item >
            <ion-icon item-start name="thumbs-up" ></ion-icon>
            <ion-label> Job Complete</ion-label>
          </div>
      </ion-card-content>
    </ion-card>
    </ion-col>

  </ion-row>



</ion-content>
